*.ll
*.llvm
*.o
*.tmp
*.swp
*~
.#*
.DS_Store
.idea/
.vscode/
*.code-workspace
*.iml
.project
.settings/
.valgrindrc
src/**/build
/llvm
src/**/target
src/**/tmp
src/**/out
src/**/dist
/*.nb

**/*.rs.bk
Cargo.lock
